<h2 class="mb-4">Nueva Reforma</h2>
<p>
  Inicie un nuevo proyecto de reforma. A lo largo del proceso podrá definir los
  detalles técnicos, administrativos y generar la documentación necesaria para
  su tramitación.
</p>

<!-- Aquí irá el formulario o los pasos siguientes -->
<div class="container mt-4">
  <app-seleccion-secciones
    *ngIf="mostrarSeleccion"
    [seccionesPreseleccionadas]="codigosPreseleccionados"
    (continuar)="onContinuar($event)"
  >
  </app-seleccion-secciones>

  <app-mostrar-secciones
    *ngIf="mostrarSubSelecciones"
    [secciones]="seccionesSeleccionadas"
    [respuestas]="respuestasGuardadas"
    (volverASeleccion)="mostrarSeleccion = true; mostrarSubSelecciones = false"
    (finalizarRecoleccion)="onFinalizarRecoleccion($event)"
  >
  </app-mostrar-secciones>

  <app-formulario-proyecto
    *ngIf="mostrarFormularioProyecto"
    [respuestas]="respuestasGuardadas"
    [datosIniciales]="datosFormularioGuardados"
    (volverAReforma)="onVolverDesdeFormulario($event)"
    (finalizarFormulario)="onFinalizarFormulario($event)"
  ></app-formulario-proyecto>

  <app-reformas-previas
    *ngIf="mostrarReformasPrevias"
    [datos]="datosGenerales"
    (continuar)="onContinuarDesdeReformasPrevias($event)"
    (volverAlFormulario)="onVolverDesdeReformasPrevias($event)"
  >
  </app-reformas-previas>

  <app-tipo-vehiculo
    *ngIf="mostrarTipoVehiculo"
    [datosPrevios]="datosGuardadosTipoVehiculo"
    (continuar)="onContinuarTipoVehiculo($event)"
    (volver)="onVolverDesdeTipoVehiculo($event)"
  ></app-tipo-vehiculo>

  <app-resumen-modificaciones
    *ngIf="mostrarResumenModificaciones"
    [datosEntrada]="datosResumenModificaciones"
    (volver)="onVolverDesdeResumenModificaciones($event)"
    (continuar)="onContinuarDesdeResumenModificaciones($event)"
  ></app-resumen-modificaciones>

  <app-generador-documentos
    *ngIf="mostrarGenerador"
    [reformaData]="datosGenerales"
    (volverAlFormulario)="onVolverDesdeGenerador($event)"
  ></app-generador-documentos>
</div>
