<h2 class="mb-4">Nueva Reforma</h2>
<p>
  Inicie un nuevo proyecto de reforma. A lo largo del proceso podrá definir los
  detalles técnicos, administrativos y generar la documentación necesaria para
  su tramitación.
</p>

<div class="container mt-4">
  @if (mostrarSeleccion) {
  <app-seleccion-secciones
    [seccionesPreseleccionadas]="codigosPreseleccionados || []"
    (continuar)="onContinuar($event)"
  >
  </app-seleccion-secciones>
  } @if (mostrarSubSelecciones) {
  <app-mostrar-secciones
    [secciones]="seccionesSeleccionadas || []"
    [respuestas]="respuestasGuardadas || {}"
    (volverASeleccion)="volverASeleccionDesdeSubseleccion()"
    (finalizarRecoleccion)="onFinalizarRecoleccion($event)"
  >
  </app-mostrar-secciones>
  } @if (mostrarFormularioProyecto) {
  <app-formulario-proyecto
    [respuestas]="respuestasGuardadas || {}"
    [datosIniciales]="datosFormularioGuardados || null"
    (autosave)="onAutosaveFormulario($event)"
    (volverAReforma)="onVolverDesdeFormulario($event)"
    (finalizarFormulario)="onFinalizarFormulario($event)"
  >
  </app-formulario-proyecto>
  } @if (mostrarReformasPrevias) {
  <app-reformas-previas
    [datos]="datosGenerales || {}"
    (autosave)="onAutosaveReformasPrevias($event)"
    (continuar)="onContinuarDesdeReformasPrevias($event)"
    (volverAlFormulario)="onVolverDesdeReformasPrevias($event)"
  >
  </app-reformas-previas>
  } @if (mostrarTipoVehiculo) {
  <app-tipo-vehiculo
    [datosPrevios]="datosGuardadosTipoVehiculo || {}"
    (autosave)="onAutosaveTipoVehiculo($event)"
    (continuar)="onContinuarTipoVehiculo($event)"
    (volver)="onVolverDesdeTipoVehiculo($event)"
  >
  </app-tipo-vehiculo>
  } @if (mostrarResumenModificaciones) {
  <app-resumen-modificaciones
    [datosEntrada]="datosParaResumen"
    (volver)="onVolverDesdeResumenModificaciones($event)"
    (continuar)="onContinuarDesdeResumenModificaciones($event)"
  >
  </app-resumen-modificaciones>
  } @if (mostrarCocheOno) {
  <app-cocheono
    [datosEntrada]="datosParaResumen"
    (volver)="onVolverDesdeCocheONo($event)"
    (continuar)="onContinuarDesdeCocheONo($event)"
  >
  </app-cocheono>
  } @if (mostrarCanva) {
  <app-canva
    [datosEntrada]="datosParaResumen"
    (autosave)="onAutosaveCanva($event)"
    (volver)="onVolverDesdeCanva()"
    (continuar)="onContinuarDesdeCanva($event)"
  >
  </app-canva>
  } @if (mostrarImagenes) {
  <app-imagenes
    [datosEntrada]="datosParaResumen"
    (autosave)="onAutosaveImagenes($event)"
    (volver)="onVolverDesdeImagenes($event)"
    (continuar)="onContinuarDesdeImagenes($event)"
  >
  </app-imagenes>
  } @if (mostrarGenerador) {
  <app-generador-documentos
    [reformaData]="datosGenerales || {}"
    (volverAlFormulario)="onVolverDesdeGenerador($event)"
  >
  </app-generador-documentos>
  }
</div>
