@if (mostrarPreseleccion) {
<div class="container mt-4">
  <div class="card p-4 shadow-sm">
    <h4 class="mb-3">Tipo de Vehículo</h4>
    <p class="text-muted mb-3">Elige una opción y pulsa “Siguiente”.</p>

    <div class="row g-3">
      <div class="col-6 col-md-3" *ngFor="let o of opcionesVehiculo">
        <div
          class="card h-100 text-center border-2"
          [ngClass]="{
            'border-primary shadow': tipoVehiculo === o.value,
            'border-light': tipoVehiculo !== o.value
          }"
          role="button"
          (click)="seleccionarTipoPrevia(o.value)"
        >
          <img
            [src]="o.img"
            class="card-img-top p-3 img-fluid"
            alt="{{ o.label }}"
          />
          <div class="card-body py-2">
            <div class="fw-semibold">{{ o.label }}</div>
          </div>
          <!-- Amplía el click -->
          <a class="stretched-link" tabindex="-1"></a>
        </div>
      </div>
    </div>

    <div class="text-danger mt-3" *ngIf="tipoVehiculoInvalido && !tipoVehiculo">
      Debe seleccionar un tipo de vehículo.
    </div>

    <div class="d-flex justify-content-end mt-4">
      <button
        class="btn btn-primary"
        (click)="irASiguientePaso()"
        [disabled]="!tipoVehiculo"
      >
        Siguiente →
      </button>
    </div>
  </div>
</div>
} @else {

<div class="container mt-4">
  <div class="card p-4 shadow-sm">
    <h4 class="mb-3">Tipo de Vehículo</h4>

    <!-- Selector tipo vehículo -->
    <div class="mb-3">
      <label class="form-label">Seleccione el tipo de vehículo:</label>
      <select
        class="form-select"
        [(ngModel)]="tipoVehiculo"
        (change)="onTipoCambio()"
        [class.is-invalid]="tipoVehiculoInvalido"
      >
        <option [ngValue]="null" disabled selected>-- Seleccionar --</option>
        <option value="coche">Coche</option>
        <option value="moto">Moto</option>
        <option value="camper">Camper</option>
        <option value="industrial">Industrial</option>
      </select>
      <div class="invalid-feedback">Debe seleccionar un tipo de vehículo.</div>
    </div>

    <!-- Lista de modificaciones -->
    @if (modificaciones.length > 0) {
    <div class="mt-4">
      <h5 class="mb-3">Modificaciones aplicables</h5>
      @if(tipoVehiculo === "coche" || tipoVehiculo === "industrial"){ @for (mod
      of modificaciones; track mod; let modIndex = $index) {

      <div class="mb-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="mod.seleccionado"
            [id]="'mod-' + modIndex"
          />
          <label class="form-check-label" [for]="'mod-' + modIndex">
            {{ mod.nombre }}
          </label>
        </div>

        <!-- Ruedas -->
        @if (mod.nombre.includes('Ruedas') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detalleRuedas; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="ruedas-{{ i }}"
              name="ruedas-{{ i }}"
            />
            <label class="form-check-label" for="ruedas-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Suspensión -->
        @if (mod.nombre === 'Suspensión' && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>

          @for (item of detallesMuellesOpciones; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="suspension-{{ i }}"
              name="suspension-{{ i }}"
            />
            <label class="form-check-label" for="suspension-{{ i }}">
              {{ item.label }}
            </label>
          </div>

          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Carrocería -->
        @if (mod.nombre.includes('Carrocería') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detalleCarroceria; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="carroceria-{{ i }}"
              name="carroceria-{{ i }}"
            />
            <label class="form-check-label" for="carroceria-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Luces -->
        @if (mod.nombre.includes('Luces') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of opcionesDescripcionLuces; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="luces-{{ i }}"
              name="luces-{{ i }}"
            />
            <label class="form-check-label" for="luces-{{ i }}">
              {{ item.label }}
            </label>
            <!-- Sub-if para focos de trabajo -->
            @if (item.key === 'focosDeTrabajo' && mod.detalle?.focosDeTrabajo) {
            <div class="mt-3 ms-4 border-start ps-3">
              <label class="form-label"
                >¿Dónde están los focos de trabajo?</label
              >
              @for (foco of opcionesDescripcionFocosDeTrabajo; track foco; let j
              = $index) {
              <div class="form-check mb-1">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="foco-{{ j }}"
                  [(ngModel)]="mod.focosTrabajo![foco.key]"
                />
                <label class="form-check-label" [for]="'foco-' + j">
                  {{ foco.label }}
                </label>
              </div>
              }
            </div>
            }
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Dirección -->
        @if (mod.nombre.includes('Dirección') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detalleDireccion; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="direccion-{{ i }}"
              name="direccion-{{ i }}"
            />
            <label class="form-check-label" for="direccion-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Freno -->
        @if (mod.nombre.includes('Freno') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detalleFrenos; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="freno-{{ i }}"
              name="freno-{{ i }}"
            />
            <label class="form-check-label" for="freno-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Unidad motriz -->
        @if (mod.nombre.includes('Unidad motriz') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detalleUnidadMotriz; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="motriz-{{ i }}"
              name="motriz-{{ i }}"
            />
            <label class="form-check-label" for="motriz-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>

        }
      </div>
      } } @if(tipoVehiculo === "moto"){ @for (mod of modificaciones; track mod;
      let modIndex = $index) {

      <div class="mb-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="mod.seleccionado"
            [id]="'mod-' + modIndex"
          />
          <label class="form-check-label" [for]="'mod-' + modIndex">
            {{ mod.nombre }}
          </label>
        </div>

        <!-- Ruedas -->
        @if (mod.nombre.includes('Ruedas') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detalleRuedasMotos; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="ruedas-{{ i }}"
              name="ruedas-{{ i }}"
            />
            <label class="form-check-label" for="ruedas-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Suspensión -->
        @if (mod.nombre === 'Suspensión' && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>

          @for (item of detallesSuspensionesMotos; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="suspension-{{ i }}"
              name="suspension-{{ i }}"
            />
            <label class="form-check-label" for="suspension-{{ i }}">
              {{ item.label }}
            </label>
          </div>

          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Carrocería -->
        @if (mod.nombre.includes('Carrocería') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detallesCarroceriaMoto; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="carroceria-{{ i }}"
              name="carroceria-{{ i }}"
            />
            <label class="form-check-label" for="carroceria-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Dirección -->
        @if (mod.nombre.includes('Chasis y Subchasis') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detalleChasisSubchasisMotos; track item; let i = $index)
          {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="chasis-{{ i }}"
              name="chasis-{{ i }}"
            />
            <label class="form-check-label" for="chasis-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Luces -->
        @if (mod.nombre.includes('Luces') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of opcionesDescripcionLucesMoto; track item; let i =
          $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="luces-{{ i }}"
              name="luces-{{ i }}"
            />
            <label class="form-check-label" for="luces-{{ i }}">
              {{ item.label }}
            </label>
            <!-- Sub-if para focos de trabajo -->
            @if (item.key === 'focosDeTrabajo' && mod.detalle?.focosDeTrabajo) {
            <div class="mt-3 ms-4 border-start ps-3">
              <label class="form-label"
                >¿Dónde están los focos de trabajo?</label
              >
              @for (foco of opcionesDescripcionFocosDeTrabajo; track foco; let j
              = $index) {
              <div class="form-check mb-1">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="foco-{{ j }}"
                  [(ngModel)]="mod.focosTrabajo![foco.key]"
                />
                <label class="form-check-label" [for]="'foco-' + j">
                  {{ foco.label }}
                </label>
              </div>
              }
            </div>
            }
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Freno -->
        @if (mod.nombre.includes('Freno') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detalleFrenosMoto; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="freno-{{ i }}"
              name="freno-{{ i }}"
            />
            <label class="form-check-label" for="freno-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }

        <!-- Unidad motriz -->
        @if (mod.nombre.includes('Unidad motriz') && mod.seleccionado) {
        <div class="mt-2 ms-4">
          <label class="form-label">¿Qué elementos se han modificado?</label>
          @for (item of detalleUnidadMotrizMoto; track item; let i = $index) {
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [(ngModel)]="mod.detalle![item.key]"
              (ngModelChange)="actualizarError(modIndex, mod)"
              id="motriz-{{ i }}"
              name="motriz-{{ i }}"
            />
            <label class="form-check-label" for="motriz-{{ i }}">
              {{ item.label }}
            </label>
          </div>
          } @if (erroresSubopciones[modIndex]) {
          <div class="text-danger mt-1">
            Debe seleccionar al menos una opción en este bloque.
          </div>
          }
        </div>
        }
      </div>
      } } @if(tipoVehiculo === "camper"){ @for (mod of modificaciones; track
      mod; let modIndex = $index) {

      <div class="mb-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="mod.seleccionado"
            [id]="'mod-' + modIndex"
          />
          <label class="form-check-label" [for]="'mod-' + modIndex">
            {{ mod.nombre }}
          </label>
        </div>
      </div>

      <!-- Ruedas -->
      @if (mod.nombre.includes('Ruedas') && mod.seleccionado) {
      <div class="mt-2 ms-4">
        <label class="form-label">¿Qué elementos se han modificado?</label>
        @for (item of detalleRuedasCamper; track item; let i = $index) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="mod.detalle![item.key]"
            (ngModelChange)="actualizarError(modIndex, mod)"
            id="ruedas-{{ i }}"
            name="ruedas-{{ i }}"
          />
          <label class="form-check-label" for="ruedas-{{ i }}">
            {{ item.label }}
          </label>
        </div>
        } @if (erroresSubopciones[modIndex]) {
        <div class="text-danger mt-1">
          Debe seleccionar al menos una opción en este bloque.
        </div>
        }
      </div>
      }

      <!-- Suspensión -->
      @if (mod.nombre.includes('Suspensión') && mod.seleccionado) {
      <div class="mt-2 ms-4">
        <label class="form-label">¿Qué elementos se han modificado?</label>
        @for (item of detallesSuspensionesCamper; track item; let i = $index) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="mod.detalle![item.key]"
            (ngModelChange)="actualizarError(modIndex, mod)"
            id="suspension-{{ i }}"
            name="suspension-{{ i }}"
          />
          <label class="form-check-label" for="suspension-{{ i }}">
            {{ item.label }}
          </label>
        </div>
        } @if (erroresSubopciones[modIndex]) {
        <div class="text-danger mt-1">
          Debe seleccionar al menos una opción en este bloque.
        </div>
        }
      </div>
      }

      <!-- Modificaciones en el interior del vehículo -->
      @if (mod.nombre.includes('Modificaciones en el interior del vehículo') &&
      mod.seleccionado) {
      <div class="mt-2 ms-4">
        <label class="form-label">¿Qué elementos se han modificado?</label>

        @for (item of detallesInteriorVehiculo; track item; let i = $index) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="mod.detalle![item.key]"
            (ngModelChange)="actualizarError(modIndex, mod)"
            id="interior-{{ i }}"
            name="interior-{{ i }}"
          />
          <label class="form-check-label" for="interior-{{ i }}">
            {{ item.label }}
          </label>
        </div>

        <!-- Subbloque: Mobiliario interior -->
        @if (item.key === 'mobiliarioInterior' &&
        mod.detalle?.mobiliarioInterior) {
        <div class="mt-3 ms-4 border-start ps-3">
          <label class="form-label">Seleccione el mobiliario:</label>
          @for (mueble of opcionesDescripcionMobiliarioInterior; track mueble;
          let j = $index) {
          <div class="form-check mb-1">
            <input
              type="checkbox"
              class="form-check-input"
              id="mobiliario-{{ j }}"
              [(ngModel)]="mod.mobiliarioInterior![mueble.key]"
            />
            <label class="form-check-label" [for]="'mobiliario-' + j">
              {{ mueble.label }}
            </label>
          </div>
          }
        </div>
        }

        <!-- Subbloque: Fontanería -->
        @if (item.key === 'fontaneria' && mod.detalle?.fontaneria) {
        <div class="mt-3 ms-4 border-start ps-3">
          <label class="form-label">Seleccione la fontanería:</label>
          @for (f of opcionesDescripcionFontaneria; track f; let k = $index) {
          <div class="form-check mb-1">
            <input
              type="checkbox"
              class="form-check-input"
              id="fontaneria-{{ k }}"
              [(ngModel)]="mod.fontaneria![f.key]"
            />
            <label class="form-check-label" [for]="'fontaneria-' + k">
              {{ f.label }}
            </label>
          </div>
          }
        </div>
        } } @if (erroresSubopciones[modIndex]) {
        <div class="text-danger mt-1">
          Debe seleccionar al menos una opción en este bloque.
        </div>
        }
      </div>
      }

      <!-- Instalación eléctrica -->
      @if (mod.nombre.includes('Instalación eléctrica') && mod.seleccionado) {
      <div class="mt-2 ms-4">
        <label class="form-label">¿Qué elementos se han modificado?</label>
        @for (item of detallesInstalacionElectricaCamper; track item; let i =
        $index) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="mod.detalle![item.key]"
            (ngModelChange)="actualizarError(modIndex, mod)"
            id="electrico-{{ i }}"
            name="electrico-{{ i }}"
          />
          <label class="form-check-label" for="electrico-{{ i }}">
            {{ item.label }}
          </label>
        </div>
        } @if (erroresSubopciones[modIndex]) {
        <div class="text-danger mt-1">
          Debe seleccionar al menos una opción en este bloque.
        </div>
        }
      </div>
      }

      <!-- Carrocería -->
      @if (mod.nombre.includes('Carrocería') && mod.seleccionado) {
      <div class="mt-2 ms-4">
        <label class="form-label">¿Qué elementos se han modificado?</label>
        @for (item of detalleCarroceriaCamper; track item; let i = $index) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="mod.detalle![item.key]"
            (ngModelChange)="actualizarError(modIndex, mod)"
            id="carroceriaCamper-{{ i }}"
            name="carroceriaCamper-{{ i }}"
          />
          <label class="form-check-label" for="carroceriaCamper-{{ i }}">
            {{ item.label }}
          </label>
        </div>
        } @if (erroresSubopciones[modIndex]) {
        <div class="text-danger mt-1">
          Debe seleccionar al menos una opción en este bloque.
        </div>
        }
      </div>
      }

      <!-- Luces -->
      @if (mod.nombre.includes('Luces') && mod.seleccionado) {
      <div class="mt-2 ms-4">
        <label class="form-label">¿Qué elementos se han modificado?</label>
        @for (item of opcionesDescripcionLuces; track item; let i = $index) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="mod.detalle![item.key]"
            (ngModelChange)="actualizarError(modIndex, mod)"
            id="luces-{{ i }}"
            name="luces-{{ i }}"
          />
          <label class="form-check-label" for="luces-{{ i }}">
            {{ item.label }}
          </label>
          <!-- Sub-if para focos de trabajo -->
          @if (item.key === 'focosDeTrabajo' && mod.detalle?.focosDeTrabajo) {
          <div class="mt-3 ms-4 border-start ps-3">
            <label class="form-label">¿Dónde están los focos de trabajo?</label>
            @for (foco of opcionesDescripcionFocosDeTrabajo; track foco; let j =
            $index) {
            <div class="form-check mb-1">
              <input
                type="checkbox"
                class="form-check-input"
                id="foco-{{ j }}"
                [(ngModel)]="mod.focosTrabajo![foco.key]"
              />
              <label class="form-check-label" [for]="'foco-' + j">
                {{ foco.label }}
              </label>
            </div>
            }
          </div>
          }
        </div>
        } @if (erroresSubopciones[modIndex]) {
        <div class="text-danger mt-1">
          Debe seleccionar al menos una opción en este bloque.
        </div>
        }
      </div>
      }

      <!-- Dirección -->
      @if (mod.nombre.includes('Dirección') && mod.seleccionado) {
      <div class="mt-2 ms-4">
        <label class="form-label">¿Qué elementos se han modificado?</label>
        @for (item of detalleDireccion; track item; let i = $index) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="mod.detalle![item.key]"
            (ngModelChange)="actualizarError(modIndex, mod)"
            id="direccion-{{ i }}"
            name="direccion-{{ i }}"
          />
          <label class="form-check-label" for="direccion-{{ i }}">
            {{ item.label }}
          </label>
        </div>
        } @if (erroresSubopciones[modIndex]) {
        <div class="text-danger mt-1">
          Debe seleccionar al menos una opción en este bloque.
        </div>
        }
      </div>
      }

      <!-- Freno -->
      @if (mod.nombre.includes('Freno') && mod.seleccionado) {
      <div class="mt-2 ms-4">
        <label class="form-label">¿Qué elementos se han modificado?</label>
        @for (item of detalleFrenos; track item; let i = $index) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="mod.detalle![item.key]"
            (ngModelChange)="actualizarError(modIndex, mod)"
            id="freno-{{ i }}"
            name="freno-{{ i }}"
          />
          <label class="form-check-label" for="freno-{{ i }}">
            {{ item.label }}
          </label>
        </div>
        } @if (erroresSubopciones[modIndex]) {
        <div class="text-danger mt-1">
          Debe seleccionar al menos una opción en este bloque.
        </div>
        }
      </div>
      }

      <!-- Unidad motriz -->
      @if (mod.nombre.includes('Unidad motriz') && mod.seleccionado) {
      <div class="mt-2 ms-4">
        <label class="form-label">¿Qué elementos se han modificado?</label>
        @for (item of detalleUnidadMotriz; track item; let i = $index) {
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="mod.detalle![item.key]"
            (ngModelChange)="actualizarError(modIndex, mod)"
            id="motriz-{{ i }}"
            name="motriz-{{ i }}"
          />
          <label class="form-check-label" for="motriz-{{ i }}">
            {{ item.label }}
          </label>
        </div>
        } @if (erroresSubopciones[modIndex]) {
        <div class="text-danger mt-1">
          Debe seleccionar al menos una opción en este bloque.
        </div>
        }
      </div>

      } }}
    </div>
    }

    <!-- Botones -->
    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-outline-secondary" (click)="volverFormulario()">
        ← Volver
      </button>
      <button class="btn btn-primary" (click)="continuarFormulario()">
        Continuar →
      </button>
    </div>
  </div>
</div>
}
