<div class="container border rounded shadow-sm p-4 bg-light">
  <h3 class="mb-3 text-dark">Selecciona las secciones a modificar</h3>

  <ul class="list-group mb-4">
    @for (opcion of opcionesReforma; track opcion.codigo) {
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      [class.active]="estaSeleccionada(opcion.codigo)"
      (click)="toggleSeleccion(opcion)"
      style="cursor: pointer"
    >
      <span
        ><strong>{{ opcion.codigo }}.</strong> {{ opcion.descripcion }}</span
      >
      @if (estaSeleccionada(opcion.codigo)) { <span></span> }
    </li>
    }
  </ul>

  <!-- Botonera: Volver (izquierda) / Continuar (derecha) -->
  <div class="d-flex justify-content-between">
    <button class="btn btn-outline-secondary" (click)="onVolver()">
      ⬅ Volver
    </button>

    <button
      class="btn btn-dark"
      [disabled]="seccionesSeleccionadas.length === 0"
      (click)="enviarSeleccion()"
    >
      Continuar
    </button>
  </div>
</div>
