<div class="contenedor-login-gestion-usuarios">
  <div class="tarjeta-login-gestion-usuarios">
    <!-- Título centrado -->
    <h2 class="titulo-login">Acceso Seguro</h2>

    <!-- Campo Usuario -->
    <div class="campo-formulario-gestion-usuarios">
      <label for="usuario">Usuario</label>
      <input
        type="text"
        id="usuario"
        [(ngModel)]="usuarioInputLoginGestionUsuarios"
        placeholder="Ej: admin"
      />
    </div>

    <!-- Campo Contraseña -->
    <div class="campo-formulario-gestion-usuarios">
      <label for="password">Contraseña</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="passwordInputLoginGestionUsuarios"
        placeholder="••••••••"
      />
    </div>

    <!-- Mensaje de Error -->
    <div
      *ngIf="mensajeErrorLoginGestionUsuarios"
      class="mensaje-error-gestion-usuarios"
    >
      {{ mensajeErrorLoginGestionUsuarios }}
    </div>

    <!-- Botón -->
    <button
      (click)="ejecutarLoginGestionUsuarios()"
      class="boton-entrar-gestion-usuarios"
    >
      Iniciar Sesión
    </button>
  </div>
</div>
