h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #343a40;
  margin-bottom: 1rem;
}

.form-check-label {
  font-size: 1rem;
  color: #495057;
}

.form-check-input {
  margin-right: 0.5rem;
}

.btn {
  margin-top: 1.5rem;
  font-weight: 500;
}
